@model CylinderViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h5 class="mt-3"><span class="text-info">Edit Record Brand:@Model.Brand/Size:@Model.Size/Wight:@Model.TotalWeight</span></h5>
<hr />
<form asp-action="Edit">
    <div class="card" style="background-color: #f7f7f9 !important">
        <div class="card-body">


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail" class="col-md-4" asp-for="Brand"></label>
                        <div class="col-md-8">
                            <input type="text" asp-for="Brand">
                            <div>
                                <span asp-validation-for="Brand" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label class="col-md-4 " asp-for="Size"></label>
                        <div class="col-sm-8">
                            <input type="text" asp-for="Size">
                            <div>
                                <span asp-validation-for="Size" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group row">
                        <label class="col-md-4" asp-for="GasWeight"></label>
                        <div class="col-md-8">
                            <input type="text" asp-for="GasWeight">
                            <div>
                                <span asp-validation-for="GasWeight" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group row">
                        <label for="inputEmail" class="col-md-4" asp-for="CylinderWeight"></label>
                        <div class="col-md-8">
                            <input type="text" asp-for="CylinderWeight">
                            <div>
                                <span asp-validation-for="CylinderWeight" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group row">
                        <label class="col-md-4 " asp-for="TotalWeight"></label>
                        <div class="col-sm-8">
                            <input type="text" asp-for="TotalWeight">
                            <div>
                                <span asp-validation-for="TotalWeight" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group row">
                        <label class="col-md-4" asp-for="Color"></label>
                        <div class="col-md-8">
                            <input type="text" asp-for="Color">
                            <div>
                                <span asp-validation-for="Color" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <input asp-for="Id" type="hidden"/>
            </div>
            <div class="row">
                <div class="offset-md-10 col-md-2">
                    <div class="btn-group btn-group-sm" role="group">
                        <button class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<div>
    <a asp-action="List">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
